.build-a-box-step-1-component {
  max-width: 1180px;
  margin: 0 auto;
  text-align: center;
  .step-1-box-selection-wrapper {
    display: flex;
    justify-content: center;
    .black-box {
      background: url('https://cdn.shopify.com/s/files/1/0558/2845/files/black_box.jpg?v=1589316612');
    }
    .white-box {
      background: url('https://cdn.shopify.com/s/files/1/0558/2845/files/box-nude_230ba32c-fa36-492b-9847-73bdf756460c.jpg?v=1589316616');
    }
    .selected-box-image {
      cursor: pointer;
      height: 500px;
      width: 500px;
      margin: 30px;
      background-position: center !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
    }
    .selected-box-name {
      cursor: pointer;
      background-color: #5fc3ca;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 45px;
      border-radius: 0;
      font-weight: 500;
      padding: 0 20px;
      font-size: 10px;
      margin: 0 30px;
    }
  }
}

.build-a-box-step-1-component
  .step-1-box-selection-wrapper
  .selected-box-image
  .selected-box-border {
  height: 100%;
}

.build-a-box-step-1-component
  .step-1-box-selection-wrapper
  .selected-box-image
  .selected-box-border::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border: solid 2px #36c069;
  z-index: 100;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.build-a-box-step-1-component
  .step-1-box-selection-wrapper
  .selected-box-image
  .selected-box-checkmark {
  display: block;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border: 5px solid;
  font-size: 36px;
  color: #36c069;
  transition: all 0.25s ease;
  pointer-events: none;
  z-index: 301;
  background: #fff;
  border-radius: 50%;
  margin-top: -270px;
  margin-left: 230px;
}

.build-a-box-step-1-component
  .step-1-box-selection-wrapper
  .selected-box-image
  .selected-box-checkmark::before {
  content: '\2714';
  font-size: 26px;
  vertical-align: top;
}
