.box-attributes-main-container {
  .quantity-field-container {
    text-align: center;
    padding-bottom: 10px;
    .quantity-title {
      font-size: 12px;
      letter-spacing: 1px;
    }
  }

  .box-selection-container {
    .box-selection-title {
      font-size: 12px;
      letter-spacing: 1px;
      padding-bottom: 5px;
    }
    .box-image-selection {
      display: inline-flex;
      justify-content: space-between;
      height: 211px;
      width: 166px;
      .box-image {
        border: 2px solid lightgray;
        height: 166px;
        width: 166px;
      }
      .box-image-selected {
        border: 2px solid #5fc3ca;
      }
    }
  }
  .pick-card-container {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 2px dashed #ddd;
    cursor: pointer;
    .pick-card-title {
      font-size: 13px;
      font-weight: 700;
    }
  }

  .pick-card-container-selected {
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 84px;
    cursor: pointer;
    display: inline-flex;
    .selected-card-image {
      flex: 1;
      width: 80px;
      height: 80px;
      img {
        width: 80px;
        height: 80px;
      }
    }
    .selected-card-title-change-text {
      flex: 5;
      padding: 20px;
      text-align: left;

      .selected-card-title {
        padding-bottom: 5px;
      }
      .selected-card-change {
        color: lightgray;
      }
    }
  }
  .cart-button-container {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid black;
    cursor: pointer;

    .cart-button-title {
      font-size: 10px;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}

.pick-card-container :hover {
}
