.card-list-container {
  //position: absolute;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .card-image-component {
    width: 265px;
    height: 265px;
    padding: 5px;
    margin-bottom: 30px;
    cursor: pointer;
    .card-image {
      padding: 5px;
      width: 265px;
      height: 265px;
      position: relative;
    }
    .card-footer-text {
      text-align: center;
    }
  }
}
