.box-detail-main-container {
  max-width: 1180px;
  margin: 0 auto;
  .box-detail-header-container {
    font-size: 10px;
  }
  .box-detail-slider-info {
    display: flex;
    margin-top: 40px;
    .box-detail-slider {
      flex: 2;
      padding-left: 30px;
    }
    .box-detail-info {
      flex: 1;
      text-align: center;
      padding-left: 30px;
      .box-name {
        font-size: 26px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      .box-price {
        font-size: 16px;
        letter-spacing: 1px;
        margin-bottom: 10px;
      }
    }
  }
}