.corporate-gifting-main-container {
  width: 100%;
  margin: 0px auto;
  padding: 80px 30px;
  .wrapper {
    text-align: center;
    margin: auto;
    width: 340px;
    .corporate-gifting-title-container {
      margin-bottom: 20px;
      font-size: 24px;
      max-width: 500px;
    }
    .corporate-gifting-title-text {
      margin-bottom: 20px;
      font-size: 13px;
    }
    .corporate-gifting-title-summary {
      margin-bottom: 60px;
      font-size: 13px;
    }
    .corporate-gifting-field {
      .phone-input,
      .email-input,
      .last-name-input,
      .first-name-input,
      .company-input {
        border: 1px solid #cccccc;
        border-radius: 0;
        outline: none;
        width: 100%;
        max-width: 100%;
        display: block;
        margin: 8px 0 1em;
        background-color: transparent;
        padding: 8px 10px;
        line-height: 1.42;
        font-size: 1em;
        color: #000;
        font-weight: normal;
      }
      .message-input {
        border: 1px solid #cccccc;
        border-radius: 0;
        outline: none;
        width: 100%;
        max-width: 100%;
        display: block;
        margin: 8px 0 1em;
        background-color: transparent;
        padding: 8px 10px;
        line-height: 1.42;
        font-size: 1em;
        color: #000;
        font-weight: normal;
        resize: vertical;
        font-family: inherit;
        min-height: 100px;
      }
    }
    .corporate-gifting-submit {
      background-color: #5fc3ca;
      .submit-button-text {
        color: white;
        padding: 15px 0px;
        font-size: 12px;
        letter-spacing: 2px;
      }
    }
  }
}
