.done-selection-step {
  max-width: 1180px;
  margin: 0 auto;
  .cart-new-box-buttons {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    .cart-button {
      cursor: pointer;
      background-color: #5fc3ca;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 45px;
      border-radius: 0;
      font-weight: 600;
      font-size: 10px;
      width: 20%;
      text-align: center;
      margin-top: 20px;
    }
    .new-box-button {
      cursor: pointer;
      background-color: #5fc3ca;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 45px;
      border-radius: 0;
      font-weight: 600;
      font-size: 10px;
      width: 20%;
      text-align: center;
      margin-top: 20px;
    }
  }
}
