.cart-main-container{
    max-width: 1180px;
    margin: 0 auto;
    .cart-footer-container {
        display: flex;
        flex-direction: row-reverse;
        .cart-checkout-subtotal-container {
            .cart-subtotal {
                
            }
            .cart-checkout-container {
                text-transform: uppercase;
                text-align: center;
                padding: 12px 24px;
                background-color: black;
                color: white;
                width: 200px;
            }
        }
    }
}