.cart-header-container{
    width: 1180px;
    margin: 0 auto;
    position: relative;
    .cart-title {
        margin-top: 10px;
    }
    .cart-column-headers {
        display: flex;
        .cart-column-item {
            flex: 2;
            padding: 10px;
            text-align: center;
        }
        .cart-column {
            flex: 1;
            padding: 10px;
            text-align: center;
        }
    }
}