.box-contents-container {
  min-height: 300px;
  .box-contents-title {
    text-align: center;
    font-size: 15px;
    padding: 10px;
  }
  .box-contents-list {
    padding-bottom: 5px;
    .box-item {
      display: flex;
      padding-top: 10px;
      .box-item-count {
        flex: 5;
        padding-left: 20px;
        text-align: left;
      }
      .box-item-name {
        flex: 5;
        text-align: left;
      }
      .box-item-price {
        flex: 5;
        text-align: right;
      }
      .box-item-remove {
        flex: 2;
        text-align: center;
        .remove-item-button {
          background-color: white;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
  .box-contents-sub-section {
    margin-top: 10px;
    background-color: lightgray;
    height: 40px;
    .box-contents-sub-title {
      text-align: center;
      margin: 0;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .box-contents-sub-total {
      text-align: center;
      font-size: 14px;
      padding-top: 10px;
    }
    .complete-box-button {
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 10px;
      background: #5fc3ca;
      height: 40px;
      cursor: pointer;
      .complete-box-button-text {
        color: white;
        text-align: center;
        padding: 10px;
      }
    }
  }
}
