.box-contents-container {
  min-height: 250px;
  .box-contents-title {
    text-align: center;
    font-size: 15px;
    padding: 10px;
  }
  .box-contents-list {
    padding-left: 20px;
    padding-right: 20px;
    .box-item {
      display: flex;
      padding-top: 10px;
      .box-item-count {
        flex: 2;
        text-align: left;
      }
      .box-item-name {
        flex: 6;
        text-align: left;
      }
      .box-item-price {
        flex: 5;
        text-align: right;
      }
      .box-item-remove {
        flex: 2;
        text-align: center;
        .remove-item-button {
          color: #aaa;
          background-color: white;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
  .box-contents-sub-section {
    margin-top: 10px;
    .box-contents-sub-title {
      text-align: center;
      margin: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      height: 40px;
      background-color: rgb(239, 239, 239) !important;
      vertical-align: middle;
      font-size: 15px;
    }
    .box-contents-sub-total {
      text-align: center;
      font-size: 16px;
      font-weight: 500px;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .complete-box-button {
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 10px;
      margin-bottom: 15px;
      background: #5fc3ca;
      height: 45px;
      cursor: pointer;
      .complete-box-button-text {
        color: white;
        text-align: center;
        
        padding-top: 18px;
        padding-bottom: 18px;
        vertical-align: middle;
        font-size: 10px;
        font-weight: 600px;
        letter-spacing: 1px;
      }
    }
  }
}
