.giftbox-progress-bar {
    max-width: 1180px;
    margin: 0 auto;
    position: relative;
    .wrapper {
        width: 25%;
        .bar {
            border-bottom: solid 2px #eaeaea;
        }
    }
}