.giftbox-progress-bar {
  .wrapper {
    width: 25%;
    .bar {
      border-bottom: solid 2px #eaeaea;
    }
  }
}

.stepper-component-wrapper {
  max-width: 1180px;
  min-height: 0;
  padding-top: 10px;
  margin: 0px auto;
  font-size: 14px;
}
