.selected-items-container {
  .selected-items-meter {
    height: 40px;
    border: solid 1px #eaeaea;
    display: flex;
    .box-size {
      flex: 1;
      border: solid 1px #eaeaea;
      .size-meter {
        padding: 1px;
        margin: 0;
        .box-size-text {
          background-color: lightgoldenrodyellow;
          font-size: 10px;
          padding: 10px;
          text-align: center;
          margin: 0px;
        }
      }
    }
  }
  .selected-items-data {
    display: flex;
    .selected-items-images {
      width: 60%;
      min-height: 100px;
      border: solid 0.5px #eaeaea;
    }
    .selected-items-contents {
      width: 40%;
      border: solid 0.5px #eaeaea;
    }
  }
}
