.shop-main-container {
  max-width: 1180px;
  margin: 0px auto;
  .shop-header-container {
    margin-top: 70px;
    font-family: 'Jane Austen';
    margin-bottom: 70px;
    font-size: 30px;
    padding-left: 30px;
  }
  .shop-items-container {
    display: flex;
    flex-wrap: wrap;
  }
}
