.container {
  position: relative;
  width: 225px;
  height: 225px;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.container:hover .overlay {
  display: block;
}

.product-container {
  padding: 5px;
  padding-bottom: 30px;
}

img.product-image {
  position: absolute;
  width: 225px;
  height: 225px;
  left: 0;
}

.product-details {
  padding-top: 10px;
}

.button {
  position: absolute;
  width: 225px;
  left: 0;
  top: 190px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.35s ease;
  font-size: 10px;
}

.button .text {
  padding: 12px 40px;
  text-align: center;
  color: black;
  border: solid 1px black;
  background-color: white;
  z-index: 1;
  text-decoration: none;
}

.container:hover .button {
  opacity: 1;
}

.title .brand {
  padding-bottom: 5px;
  text-transform: uppercase;
  font-size: 13px;
  text-align: left;
}

.price {
  padding-top: 10px;
  text-transform: uppercase;
  font-size: 13px;
  text-align: left;
}
