.movie-data-table {
  max-height: 200px;
  margin-top: 9px;
  border-radius: 3px;
  width: 100%;
  .name-cell {
    text-align: center;
    font-size: 13px;
    word-wrap: break-word;
    white-space: normal;
    height: 100%;
  }
  .name-cell-head {
    text-align: center;
    color: rgb(57, 132, 201);
    font-size: 13px;
    word-wrap: break-word;
    white-space: nor mal;
    height: 100%;
  }
}
