.selected-items-container {
  margin-bottom: 30px;
  .selected-items-meter {
    height: 37px;
    border: solid 0.25px #eaeaea;
    display: flex;
    .box-size {
      flex: 1;
      border: solid 0.25px #eaeaea;
      .size-meter {
        padding: 1px;
        margin: 0;
        .box-size-text {
          font-size: 10px;
          font-weight: 600px;
          letter-spacing: 1px;
          padding: 9.5px;
          text-align: center;
          color: #ffffff;
          margin: 0px;
        }
        .selected-box {
          background-color: #5fc3ca !important;
          color: #ffffff;
        }
        .non-selected-box {
          background-color: rgb(239, 239, 239) !important;
          color: #000000;
        }
      }
    }
  }
  .selected-items-data {
    display: flex;
    min-height: 250px;
    .selected-items-images {
      flex: 3;
      border: solid 0.2px #eaeaea;
    }
    .selected-items-contents {
      font-size: 12px;
      flex: 2;
      border: solid 0.2px #eaeaea;
    }
  }
}

.selected-items-instructions{
  text-align: center;
  text-transform: uppercase;
  border: 1px solid black;
  padding: 10px
}
.selected-items-instructions:hover{
  background-color:#5fc3ca;
}

.selected-items-instructions a:hover{
  color: white;
}
.selected-items-instructions a{
  padding: 10px;
  text-decoration-line: none;
  text-align: center;
  color: black;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.selected-items-instructions.none{
  display: none;
}

.selected-items-instructions-wrap{
  padding: 15px;
}

