.selected-items-container {
  .selected-items-meter {
    height: 41px;
    border: solid 0.25px #eaeaea;
    display: flex;
    .box-size {
      flex: 1;
      border: solid 0.25px #eaeaea;
      .size-meter {
        padding: 1px;
        margin: 0;
        .box-size-text {
          font-size: 12px;
          padding: 10px;
          text-align: center;
          color: #ffffff;
          margin: 0px;
        }
        .selected-box {
          background-color: #5fc3ca !important;
          color: #ffffff;
        }
        .non-selected-box {
          background-color: #ffffff !important;
          color: #000000;
        }
      }
    }
  }
  .selected-items-data {
    display: flex;
    .selected-items-images {
      width: 60%;
      min-height: 100px;
      border: solid 0.2px #eaeaea;
    }
    .selected-items-contents {
      width: 40%;
      border: solid 0.2px #eaeaea;
    }
  }
}
